{{ form_start(form) }}
    {{ form_widget(form.dataCreacio, { 'attr': {'style': 'display:none'} }) }}
    {{ form_widget(form.dataModificacio, { 'attr': {'style': 'display:none'} }) }}
    {% if pressupost.idPressupost != null %}
        {{ form_widget(form.idClient, { 'attr': {'style': 'display:none'} }) }}
        {{ form_widget(form.idEstat, { 'attr': {'style': 'display:none'} }) }}
        {{ form_widget(form.totalPressupost, { 'attr': {'style': 'display:none'} }) }}
    {% else %}
        {{ form_widget(form.idClient, { 'attr': {'style': 'display:none', 'value': 0} }) }}
        {{ form_widget(form.idEstat, { 'attr': {'style': 'display:none', 'value': 1 } }) }}
        {{ form_widget(form.totalPressupost, { 'attr': {'style': 'display:none', 'value': 0} }) }}
    {% endif %}
    <div class="text-center">{{ form_errors(form) }}</div>
    <div class="col-3 float-start"> <strong>ID Pressupost: </strong> </div>
    <div class="col-3 float-start"> {% if pressupost.idPressupost != null %} {{ pressupost.idPressupost }}  {% else %} &nbsp; {% endif %} </div>
    <div class="col-3 float-start"> <strong>Client: </strong> </div>
    <div class="col-3 float-start"> {% if dadesPressupost is defined %} {{ dadesPressupost.nomClient }} {% else %} {{ render(controller('App\\Controller\\ClientsController::nomClients', { 'form': form })) }} {% endif %} </div>
    <div class="float-none"> &nbsp; </div>
    <div class="col-3 float-start"><strong>{{ form_label(form.pressupost)}}</strong></div>
    <div class="col-3 float-start">{{ form_widget(form.pressupost)}}</div>
    <div class="col-3 float-start"><strong>{{ form_label(form.totalPressupost)}}</strong></div>
    <div class="col-3 float-start"> {% if dadesPressupost is defined %} {{ dadesPressupost.totalPressupost }} {% else %} 0 {% endif %} </div>
    <div class="float-none"> &nbsp; </div>
    <div class="col-3 float-start"> <strong>{{ form_label(form.idEstat,'Estat pressupost')}}</strong> </div>
    <div class="col-3 float-start"> {{ render(controller('App\\Controller\\EstatsPressupostController::index', { 'form': form })) }} </div>
    <div class="col-3 float-start"> &nbsp; </div>
    <div class="col-3 float-start"> &nbsp; </div>
    <div class="float-none"> &nbsp; </div>
    <div> &nbsp; </div>
    <div class="py-3 text-center">
        <button class="btn btn-primary">{{ button_label|default('Modificar pressupost') }}</button>
    </div>
{{ form_end(form) }}
