{% extends 'base.html.twig' %}

{% block title %}Productes{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="row">
        {% include 'menu.html.twig' %}
        <main class="col-md-9 col.lg-10 px-md-4">
            <div class="py-3">
                <h2 class="text-center">{{ producte.producte }}</h2>
            </div>
            <div class="py-3">
                <div class="col-3 float-start"> <strong>ID Producte: </strong> </div>
                <div class="col-3 float-start"> {{ producte.idProducte }} </div>
                <div class="col-3 float-start"> <strong>Producte: </strong> </div>
                <div class="col-3 float-start"> {{ producte.producte }} </div>
                <div class="float-none"> &nbsp; </div>
                <div class="col-3 float-start"> <strong>Preu: </strong> </div>
                <div class="col-3 float-start"> {{ producte.preu }} </div>
                <div class="float-none"> &nbsp; </div>
            </div>
            <div class="py-3">
                <a href="{{ path('app_productes_index') }}"><button class="btn btn-primary">Tornar a la llista de productes</button></a>
            </div>
        </main>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}
