{{ form_start(form) }}
    <div class="col-3 float-start"> <strong>ID Client: </strong> </div>
    <div class="col-3 float-start"> {% if client.idClient %} {{ client.idClient }}  {% else %}  &nbsp; {% endif %} </div>
    <div class="col-3 float-start"><strong>{{ form_label(form.nom)}}</strong></div>
    <div class="col-3 float-start">{{ form_widget(form.nom)}}</div>
    <div class="float-none"> &nbsp; </div>
    <div class="col-3 float-start"><strong>{{ form_label(form.adreca)}}</strong></div>
    <div class="col-3 float-start">{{ form_widget(form.adreca)}}</div>
    <div class="col-3 float-start"><strong>{{ form_label(form.cp)}}</strong></div>
    <div class="col-3 float-start">{{ form_widget(form.cp)}}</div>
    <div class="float-none"> &nbsp; </div>
    <div class="col-3 float-start"><strong>{{ form_label(form.poblacio)}}</strong></div>
    <div class="col-3 float-start">{{ form_widget(form.poblacio)}}</div>
    <div class="col-3 float-start"><strong>{{ form_label(form.provincia)}}</strong></div>
    <div class="col-3 float-start">{{ form_widget(form.provincia)}}</div>
    <div class="float-none"> &nbsp; </div>
    <div class="col-3 float-start"><strong>{{ form_label(form.pais)}}</strong></div>
    <div class="col-3 float-start">{{ form_widget(form.pais)}}</div>
    <div class="float-none"> &nbsp; </div>
    <div> &nbsp; </div>
    <div class="py-3 text-center">
    <button class="btn btn-primary">{{ button_label|default('Modificar') }}</button>
    </div>
{{ form_end(form) }}
